id ICON "./assets/logo.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Blank Coperation"
      VALUE "FileDescription", "Application for keeping track of deadlines"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "Deadline Dash"
      VALUE "LegalCopyright", "yes"
      VALUE "OriginalFilename", "DeadlineDash.exe"
      VALUE "ProductName", "Deadline Dash"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
